body{
	background: url('img/background.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	min-height: 100vh;
}

.wrapper{
	width: 800px;
	margin: 0 auto;
	padding-top: 30px;
}

.right{
	float: right;
	display: block;
}

.lang{
	margin: 20px 10px;
}

.center{
	display: block;
	margin:0 auto;
}

.hidden{
	display: none !important;
}

h1, h4{
	text-align: center;
	color: #fff;
}

p{
	text-align: center;
	width: 400px;
	color: #fff;
	margin: 30px auto;
	font-size: 18px;
}

content a{
	text-align: center;
	background-color: #fff;
	color: #4686F2;
	padding: 10px 20px;
	display: block;
	margin:30px auto; 
	text-decoration: none;
	text-transform: uppercase;
}

content a:hover{
	background-color: #4686F2;
	color: #fff;
}

footer{
	text-align: center;
}

#book{
	margin-top: 100px;
}

#book-img{
	display: block;
	margin:0 auto;
}

#book-img img{
	display: block;
	margin:0 auto;
}

#thumbnails{
	display: block;
	margin: 20px auto;
}

#thumbnails img{
	display: inline-block;
	margin:0 auto;
	width: 60px;
	cursor: pointer;
}

a.share-button{
	width: 40px;
	height: 40px;
	padding: 0;
	margin:0;
	float: left;
	display: block;

}

.social{
	width: 41px;
	float: left;
	display: block;
	top: 400px ;
	position: absolute;
}





